    <dt>Objectif</dt>
    <dd>favoriser et développer des compétences manuelles à travers la réalisation de projets pratiques. Apport de connaissances spécifiques.</dd>
    <dt>Pédagogie</dt>
    <dd>Les stages sont dispensés par Sandrine elle-même, professionnelle passionnée et installée depuis vingt ans en réalisation de chantiers de décoration de toutes envergures.
Une attention particulière est donnée à l'acquisition du vocabulaire spécialisé et à l'évaluation des acquis.</dd>
    <dt>Public</dt>
    <dd>personnes souhaitant acquérir des compétences manuelles dans le domaine de la rénovation et de la décoration.
Personnes souhaitant se reconvertir : prochain départ en retraite, création d'entreprise, projet associatif.
Personnes intéressées par le DIY.</dd>
