{% if include.date %}
    {% assign processed_date = include.date %}
{% else if page.date  %}
    {% assign processed_date = page.date %}
{% endif %}

{% comment %}-------- Test if we have a date to process --------{% endcomment %}
{% if processed_date %}

    {% assign monthName = "janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre" | split: "," %}

    {% comment %}------ Note : sunday is the first day in this array -------{% endcomment %}
    {% assign dayName = "dimanche,lundi,mardi,mercredi,jeudi,vendredi,samedi" | split: "," %}

    {% assign month_index = processed_date | date: "%m" | minus: 1 %}

    {%comment%}----------------------------------------------
    Here **minus: 0** is a trick to convert day_index from string to integer and then use it as an array index.
    ----------------------------------------------{%endcomment%}
    {% assign day_index = processed_date | date: "%w" | minus: 0 %}

    {%comment%}-------- Output the date ----------{%endcomment%}
    {{ dayName[day_index] }} {{ processed_date | date: "%d" }} {{ monthName[month_index] }} {{ processed_date | date: "%Y" }}
{% endif %}
