---
layout: default
---

{% assign split = page.content | split: site.excerpt_separator %}

<article class="row atelier">
    <div class="col-sm-4">
        {% responsive_image_block %}
            path: assets/images/{{ page.img }}
            alt: {{ page.title }}
            baseurl: {{ site.baseurl }}
        {% endresponsive_image_block %}
    </div>
    <div class="col-sm-8">
        <header class="post-header">
            <h1>Atelier déco : <em>{{ page.title }}</em></h1>
            <div class="excerpt">
            {{ split[0] }}
            </div>
        </header>
        <dl>
        {{ split[1] }}
        {% include _product_bottom.html %}
        </dl>

        <p class="lead">Retrouvez toutes les dates de stages <a href="/calendrier">sur notre calendrier</a>.</p>
    </div>
</article>
